
body{
margin:0;
font-family: 'Segoe UI', Arial;
background:#0f0f14;
color:white;
}

/* LOGIN */
#login-screen{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
}

.logo{
font-size:40px;
font-weight:bold;
margin-bottom:20px;
}

input{
width:80%;
max-width:320px;
padding:12px;
margin:5px;
border-radius:10px;
border:none;
background:#1c1c24;
color:white;
}

button{
width:84%;
max-width:340px;
padding:12px;
margin:8px;
border:none;
border-radius:12px;
background:#5865f2;
color:white;
font-size:15px;
font-weight:bold;
}

/* APP */
#app{
display:none;
}

.topbar{
background:#0f0f14;
padding:15px;
font-size:20px;
font-weight:bold;
border-bottom:1px solid #222;
text-align:center;
position:sticky;
top:0;
}

.feed{
padding:10px;
}

.post{
background:#161620;
padding:12px;
border-radius:14px;
margin-bottom:12px;
}

.username{
font-weight:bold;
margin-bottom:5px;
}

.bio{
font-size:13px;
opacity:0.7;
}

.bottom{
position:fixed;
bottom:0;
width:100%;
background:#0f0f14;
display:flex;
justify-content:space-around;
padding:12px;
border-top:1px solid #222;
}
